*.class
.gradle
.settings
.project
.classpath
build
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
#*.war
#*.ear

# allow gradle wrapper
!/gradle/wrapper/gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/**/.gradle/
/.idea/
/module/*/build/
/module/*/src/.classpath
/module/*/src/.project
/*.iml
/.settings/
/.project
/.classpath
