body { padding-top: 64px; font-size: 14px; font-family: 'Helvetica Neue', sans-serif;}
.navbar-default { background: #F0F0F0; }
.navbar-brand { padding-top: 3px; margin-bottom: 1px; }
.navbar-brand .title { margin-left: 8px; font-weight: bold; font-size: 20px; }
.navbar-brand .tag { margin-left: 8px; font-size:13px; padding-left: 0; margin-top: -0.2em; }
.scriptcode { color: #444; margin: 4px; padding: 0.2em; font-size: 14px; font-family: monospace; -moz-tab-size:4; -o-tab-size:4; tab-size:4; }
#script-list .btn { padding: 3px 8px; }
.list-header { background: #F8F8F8; }
.form-group label { margin-bottom: 0; }
.list-group-item { padding: 6px 10px; }
#sensor-list .list-group-item { padding: 2px 4px; }
.list-group-item .title { font-weight: bold; font-size: 16px; }
.list-group-item .changed { font-style: italic; font-size: 12px; }
.list-group-item .value { font-weight: bold; font-size: 16px; color: #2020C0; }
.list-group-item .icon { margin-right: 4px; }
.list-group-item-danger { background: #d9534f; color: #333; }
.list-group-item-danger .title, .list-group-item-danger .changed, .list-group-item-danger .value { color: #333 }
#log td { padding: 0 4px; vertical-align: top; }
.handle {  }
.list-group-item svg { margin: 4px 0; }
.rgb { border: solid 1px #ddd; margin: 4px 0; width: 36px; height: 36px; }
.ticker { text-align: right; }
.micon { display: inline-block; width: 128px; border: solid 2px #EEE; margin: 2px; text-align: center;}
.micon .caption {  }