<!--
   Copyright 2019 1060 Research Ltd

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:io:polestar:lang:kotlin</uri>
			<version>0.1.0</version>
		</identity>
		<info>
			<name>Polestar Kotlin™ Script Language Support</name>
			<description></description>
		</info>
	</meta>
	<system>
		<dynamic/>

	</system>

	<rootspace name="Polestar / Script Languages / Kotlin™ Script">
		<literal uri="res:/etc/system/SimpleDynamicImportHook.xml" type="xml">
			<connection>
				<type>PolestarScript</type>
			</connection>
		</literal>

		<literal uri="res:/etc/system/PolestarScriptConfig.xml" type="xml">
			<config>
				<endpoint>polestar:script:kotlinScript</endpoint>
				<name>Kotlin™ Script</name>
			</config>
		</literal>

		<accessor>
			<id>polestar:script:kotlinScript</id>
			<grammar>
				<active>
					<identifier>active:polestarKotlinScript</identifier>
					<argument name="operator"/>
					<argument name="name"/>
					<argument name="state"/>
				</active>
			</grammar>
			<class>io.polestar.scripts.kotlin.ScriptRunnerAccessor</class>
		</accessor>

		<transreptor>
			<id>PolestarScriptCompiler</id>
			<class>io.polestar.scripts.kotlin.PolestarScriptTransreptor</class>
			<description>Polestar Script compiler</description>
		</transreptor>

		<import>
			<uri>urn:org:netkernel:lang:kotlin</uri>
			<private/>
		</import>
		<import>
			<uri>urn:org:netkernel:ext:layer1</uri>
			<private/>
		</import>
	</rootspace>
</module>
